@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* For Mobile Devices */
* {
  margin: 0;
  background-color: black;
  color: #008f11;
  font-family: 'VT323', monospace;
}
/* Main Grid */
body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 25% 60% 15%;
  height: 100vh;
}

/* Header sub-grid */
header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 25% 25% 10%;
  text-align: center;
}

h1 {
  grid-row: 2 / 3;
}

h3 {
  grid-row: 3 / 4;
}

nav {
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/*Terminal Path text*/
.terminal-txt {
  color: blueviolet;
}

/* Cursor */
/* .txt {
  border-right: 0.2rem solid #fff;
} */

/* For desktop */
/* @media screen and (min-width: ???) {

} */