@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* For Mobile Devices */
* {
  margin: 0;
  background-color: black;
  /* color: #008f11; */
  color: #009966;
  font-family: 'VT323', monospace;
}
/* Main Grid */
body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 25% 60% 15%;
  height: 100vh;
}

/* Header sub-grid */
header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 30% 30% 10%;
  text-align: center;
  align-items: center;
}

h1 {
  grid-row: 2 / 3;
  font-size: 10vw;
}

h3 {
  grid-row: 3 / 4;
  font-size: 6vw;
}

nav {
  grid-row: 4 / 5;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size: 6vw;
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 5vw;
}

/*Terminal Path text*/
.terminal-txt {
  color: #A00341 ;
}

/*Message to User*/
.txt-message {
  line-height: 1.5;
}

a:hover {
  color: #A00390;
}

/* For medium mobile */
@media screen and (min-width: 375px) {
  h1 {
    font-size: 8vw;
  }

  h3 {
    font-size: 5vw;
  }

  nav {
    font-size: 5vw;

  }

  main {
    font-size: 4.5vw;
  }
}

/* For large mobile */
@media screen and (min-width: 425px) {
  h1 {
    font-size: 8vw;
  }

  h3 {
    font-size: 5vw;
  }

  nav {
    font-size: 4.5vw;

  }

  main {
    font-size: 4.3vw;
  }
}

/* For tablet */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6vw;
  }

  h3 {
    font-size: 3vw;
  }

  nav {
    font-size: 3vw;

  }

  main {
    font-size: 2.8vw;
  }
}

/* For normal laptop */
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6vw;
  }

  h3 {
    font-size: 3vw;
  }

  nav {
    font-size: 2.3vw;

  }

  main {
    font-size: 2.3vw;
  }
}

/* For large laptop */
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3.5vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  nav {
    font-size: 1.5vw;

  }

  main {
    font-size: 1.8vw;
  }
}

/* For laptop */
@media screen and (min-width: 2560px) {
  h1 {
    font-size: 3.5vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  nav {
    font-size: 1.5vw;

  }

  main {
    font-size: 1.9vw;
  }
}